#deck {
  width: 1200px;
  margin: 0 auto;
}

.card {
 
  text-align: center;
  font-size:16px;
  font-weight: bold;
}

.spade {
  color: black;
}

.heart, .diamond {
  color: red;
}

.imgclass {
  width: 80px;
  border: black solid 1px;
 
}

img{
  margin: 3px;
  width: 92px;
  border: black solid 1px;
}