#deck {
  width: 1200px;
  margin: 0 auto;
}

.card {
  position: relative;
  top: 38px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.spade {
  color: black;
}

.heart,
.diamond {
  color: red;
}


#body{
  
}

/*images*/
.imgclass {
  width: 90px;
  height: 144px;
  border: black solid 1px;

}

.img-khal {

  margin: 3px;
  height: 124px;
  width: 92px;
  border: black solid 1px;
}


.topimg {
  position: relative;
  width: 22px;
  height: 22px;
  left: 4px;
  top: -123px;
}

.bottomimg {
  position: relative;
  height: 22px;
  width: 22px;
  top: -49px;
  left: 44px;
  transform: rotate(178deg);

}

/*images*/

/*numbers*/
.topnumber {
  position: relative;
  top: 44px;
  left: 10px;
  font-size: 20px;
}

.bottomnumber {
  position: relative;
  top: 145px;
  font-size: 20px;
  right: 9px;
  transform: rotate(180deg);
}

/*numbers*/


#botton {
  background-color: #4cdc65;
  width: 87px;
  height: 38px;
  border-radius: 13px;
}